/JavaLibrary1/nbproject/private/
/JavaLibrary1/dist/
/JavaLibrary1/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/JavaLibrary2/nbproject/private/
/JavaLibrary2/build/
/JavaLibrary2/dist/
/MyApp.java/nbproject/private/
/MyApp.java/build/